# Test Files
api_key.txt

# Local Working Directories
target-archive/

# Java
*.class

# IDEs
.idea*
.project

# sbt
target/

# Editors
*.sw[a-z]
*.~

# MacOS X
.DS_Store

# Products
proapi-client-1.0.0.jar
proapi-client-java-javadoc.zip

# Eclipse project files
.classpath
.project
.metadata/
bin/

# temporary Emacs files
\#*